{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Новостной портал номер [-1] в мире{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
</head>

<body>
    <nav class="navbar">
        <ul class="menu">

            <li><a href="{% url "project:project_list" %}">Все проекты</a></li>
            {% if perms.webapp.add_project %}
        <li><a href="{% url "project:project_add"  %}">Создать  проек </a></li>
{% endif %}
{% if perms.webapp.view_users %}
    <li><a href="{% url "accounts:user" %}"> Все пользователи  </a></li>
{% endif %}

            {% if user.is_authenticated %} {% block menu_links %}{% endblock %}
            <li class="menu-right"><a href="{% url 'accounts:logout' %}?next={{request.get_full_path}}"
                                      class="nav-link">Выход</a></li>
            <li class="menu-right">Привет, <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>!</li>
            {% else %}
            <li class="menu-right"><a href="{% url 'accounts:login' %}?next={{request.get_full_path}}"
                                      class="nav-link">Вход</a></li>
                 <li class="menu-right"><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}"
                                           class="nav-link">Регистрация</a></li>
            {% endif %} {% block menu %}{% endblock %}
        </ul>
    </nav>
    <div class="container">
        {% block page_header %}{% endblock %} {% block content %}{% endblock %}


    </div>
</body>
</html>