{% extends "base.html" %}
{% block content %}

    <h1>Tracer list</h1>
    {% for tracer in tracers %}
            <p><a href="{% url "view" tracer.id %}"> Название: {{ tracer.surname }}</a><br/>
                Описание:{{tracer.description  }}<br/>
                Статус: {{ tracer.status }}<br/>
           <p>Тип: {% for type in tracer.type.all %}{{ type.name }}
        {% if not forloop.last %}, {% endif %}{% endfor %}</p>

        </p>
        <br/>
        <br/>
    {% endfor %}
{% endblock %}
