{% extends "base.html" %}

{% block menu %}

    <li><a href="{% url "update" tracer.id %}">Редактировать задачу</a></li>
    <li><a href="{% url "delete" tracer.id %}">Удалить задачу</a></li>
{% endblock menu %}
{% block page_header %}Задачи {{ tracer.id }}{% endblock page_header %}
{% block content %}

    <p> Name tracer: {{ tracer.surname }}</p>
    <p>Description: {{ tracer.description}}</p>
    <p>Status: {{ tracer.status}}</p>
    <p>Tип: {% for type in tracer.type.all %}{{ type.name }}
        {% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <a href="{% url "project_list" %}">Главная страница </a>
{% endblock %}